/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10 Mar, 2018, 2:17:02 PM
    Author     : DUCVINH
*/
a{
    text-decoration: none;
}
a:hover{
    opacity: 0.5;
}
.type_chart td{
    text-align: center;
}
.super-effective{
    background-color: green;
    color:white;
    border-radius: 5px;
}
.not-very-effective{
    background-color: orangered;
    color:white;
}
.no-effect{
    background-color: blue;
    color:white;
}

.Normal{
    text-align: center;
    display: block;
    width: 73px;
    height: 28px;
    padding-top: 4px;
    background-color: #8a8a59;   
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;   
}
.Grass{
    text-align: center;
    display: block;
    width: 73px;
    height: 28px;
    padding-top: 4px;
    background-color: #78c850;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;
}
.Fire{
    text-align: center;
    display: block;
    width: 73px;
    height: 28px;
    padding-top: 4px;
    background-color: #f08030;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;
}
.Water{
    text-align: center;
    display: block;
    width: 73px;
    height: 28px;
    padding-top: 4px;
    background-color: #6890f0;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;
}
.Electric{
    text-align: center;
    display: block;
    width: 73px;
    height: 28px;
    padding-top: 4px;
    background-color: #f8d030;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;
}
.Ice{
    text-align: center;
    display: block;
    width: 73px;
    height: 28px;
    padding-top: 4px;
    background-color: #98d8d8;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;
}
.Fighting{
    text-align: center;
    display: block;
    width: 73px;
    height: 28px;
    padding-top: 4px;
    background-color: #c03028;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;
}
.Poison{
    text-align: center;
    display: block;
    width: 73px;
    height: 28px;
    padding-top: 4px;
    background-color: #a040a0;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;
}
.Ground{
    text-align: center;
    display: block;
    width: 73px;
    height: 28px;
    padding-top: 4px;
    background-color: #e0c068;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;
}
.Flying{
    text-align: center;
    display: block;
    width: 73px;
    height: 28px;
    padding-top: 4px;
    background-color: #a890f0;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;
}
.Psychic{
    text-align: center;
    display: block;
    width: 73px;
    height: 28px;
    padding-top: 4px;
    background-color: #f85888;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;
}
.Bug{
    text-align: center;
    display: block;
    width: 73px;
    height: 28px;
    padding-top: 4px;
    background-color: #a8b820;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;
}
.Rock{
    text-align: center;
    display: block;
    width: 73px;
    height: 28px;
    padding-top: 4px;
    background-color: #b8a038;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;
}
.Ghost{
    text-align: center;
    display: block;
    width: 73px;
    height: 28px;
    padding-top: 4px;
    background-color: #705898;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;
}
.Dragon{
    text-align: center;
    display: block;
    width: 73px;
    height: 28px;
    padding-top: 4px;
    background-color: #7038f8;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;
}
.Dark{
    text-align: center;
    display: block;
    width: 73px;
    height: 28px;
    padding-top: 4px;
    background-color: #705848;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;
}
.Steel{
    text-align: center;
    display: block;
    width: 73px;
    height: 28px;
    padding-top: 4px;
    background-color: #b8b8d0;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;
}
.Fairy{
    text-align: center;
    display: block;
    width: 73px;
    height: 28px;
    padding-top: 4px;
    background-color: pink;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;
}


.halfNormal{
    text-align: center;
    display: block;
    width: 37px;
    height: 37px;
    padding-top: 9px;
    background-color: #8a8a59;   
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;   
}
.halfGrass{
    text-align: center;
    display: block;
    width: 37px;
    height: 37px;
    padding-top: 9px;
    background-color: #78c850;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;
}
.halfFire{
    text-align: center;
    display: block;
    width: 37px;
    height: 37px;
    padding-top: 9px;
    background-color: #f08030;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;
}
.halfWater{
    text-align: center;
    display: block;
    width: 37px;
    height: 37px;
    padding-top: 9px;
    background-color: #6890f0;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;
}
.halfElectric{
    text-align: center;
    display: block;
    width: 37px;
    height: 37px;
    padding-top: 9px;
    background-color: #f8d030;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;
}
.halfIce{
    text-align: center;
    display: block;
    width: 37px;
    height: 37px;
    padding-top: 9px;
    background-color: #98d8d8;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;
}
.halfFighting{
    text-align: center;
    display: block;
    width: 37px;
    height: 37px;
    padding-top: 9px;
    background-color: #c03028;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;
}
.halfPoison{
    text-align: center;
    display: block;
    width: 37px;
    height: 37px;
    padding-top: 9px;
    background-color: #a040a0;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;
}
.halfGround{
    text-align: center;
    display: block;
    width: 37px;
    height: 37px;
    padding-top: 9px;
    background-color: #e0c068;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;
}
.halfFlying{
    text-align: center;
    display: block;
    width: 37px;
    height: 37px;
    padding-top: 9px;
    background-color: #a890f0;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;
}
.halfPsychic{
    text-align: center;
    display: block;
    width: 37px;
    height: 37px;
    padding-top: 9px;
    background-color: #f85888;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;
}
.halfBug{
    text-align: center;
    display: block;
    width: 37px;
    height: 37px;
    padding-top: 9px;
    background-color: #a8b820;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;
}
.halfRock{
    text-align: center;
    display: block;
    width: 37px;
    height: 37px;
    padding-top: 9px;
    background-color: #b8a038;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;
}
.halfGhost{
    text-align: center;
    display: block;
    width: 37px;
    height: 37px;
    padding-top: 9px;
    background-color: #705898;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;
}
.halfDragon{
    text-align: center;
    display: block;
    width: 37px;
    height: 37px;
    padding-top: 9px;
    background-color: #7038f8;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;
}
.halfDark{
    text-align: center;
    display: block;
    width: 37px;
    height: 37px;
    padding-top: 9px;
    background-color: #705848;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;
}
.halfSteel{
    text-align: center;
    display: block;
    width: 37px;
    height: 37px;
    padding-top: 9px;
    background-color: #b8b8d0;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;
}
.halfFairy{
    text-align: center;
    display: block;
    width: 37px;
    height: 37px;
    padding-top: 9px;
    background-color: pink;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;
}
.Physical{
    width: 50px;
    height: 22px;
    background-color: red;
    color: gold;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;
}
.Status{
    width: 50px;
    height: 22px;
    background-color: darkgrey;
    color: white;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;
}
.Special{
    width: 50px;
    height: 22px;
    background-color: blue;
    color: gold;
    border-radius: 3px;
    font-size: 17px;
    font-weight: 550;
}
