<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>MainControllerServlet</servlet-name>
        <servlet-class>pkm.servlet.MainControllerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrawlingServlet</servlet-name>
        <servlet-class>pkm.servlet.CrawlingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayPokemonServlet</servlet-name>
        <servlet-class>pkm.servlet.DisplayPokemonServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PokemonListServlet</servlet-name>
        <servlet-class>pkm.servlet.PokemonListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>pkm.servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TypeListServlet</servlet-name>
        <servlet-class>pkm.servlet.TypeListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainControllerServlet</servlet-name>
        <url-pattern>/MainControllerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrawlingServlet</servlet-name>
        <url-pattern>/CrawlingServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayPokemonServlet</servlet-name>
        <url-pattern>/DisplayPokemonServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PokemonListServlet</servlet-name>
        <url-pattern>/PokemonListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TypeListServlet</servlet-name>
        <url-pattern>/TypeListServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainControllerServlet</welcome-file>
    </welcome-file-list>
</web-app>
